/* Mobile Menu */

aside {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    background: #5E85F8;
    width: 40%;
    padding: 3em;
    text-align: right;
    transition: transform .6s;
    transform: translateX(100%);

    a {
        color: white;
        font-size: 2.6rem;
        text-transform: capitalize;
    }

    img {
        width: 28px;
        height: 28px;
        background: white;
        border-radius: .3em;
        cursor: pointer;
    }

    img.hide-mobile {
        background: transparent;
        
    }

    ul {
        margin-top: 6rem;
        padding: 0;
        li {
            text-align: left;
            list-style: none;
            display: flex;
            gap: 1rem;

            margin-bottom: 1.5em;
        }
    }
}


/* Tablet */ 

@media only screen and (min-width: 620px) {
    aside {
        position: inherit;
        height: auto;
        background: unset;
        width: auto;
        padding: 2em;
        text-align: inherit;
        transform: unset;
        transition: unset;
        background-color: #292B31;
        border-radius: 1em;

        a {
            font-size: 1.8rem;
        }
    
        img {
            background: unset;
            cursor: unset;
        }

    
        nav ul {
            margin-top: 1rem;
            display: flex;
            justify-content: space-around;
    
            li {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: .5em;

                img {
                    display: block !important;
                    
                }
            }
        }
        
    }
}


/* Tablet */ 

@media only screen and (min-width: 1000px) {

    aside {
        width: 10%;
        flex-grow: 3;
        min-width:250px;
        padding: 2em;

        nav {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }

        nav ul {
            justify-content: space-around;
            flex-direction: column;
            gap: 2em;
            padding: 3rem;
    
            li {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                gap: .5em;


                img {
                    display: block !important;
                }
            }
        }
    }
}



.toggle-menu {
    transform: translateX(0);
  }